management:
  endpoints:
    web:
      exposure:
        include: "*"
spring:
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true


server:
  port: 7771 